header {
    padding: 1%;
    margin-bottom: 10px;
    border: 1px;
    border-style: double;
}

main {
    width: 100%;
    height: 100%;
    flex: 1;
}

.logout-button {
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    margin: 15px;
    font-size: xx-large;
    background-color: white;
    color: darkblue;
}

.logout-button:hover {
    background-color: rgb(224, 228, 230);
    color: rgb(28, 176, 246)
}

table {
    border-collapse: collapse;
    width: 70%;
    border: 10px groove black;
    background-color: aliceblue;
}

td, th {
    border: 1px solid #bebcbc;
    text-align: center;
    padding: 10px;
}

th {
    border-bottom: 3px solid black;
}

/* tr {
    background-color: aliceblue;
} */

td:nth-child(even) {
    background-color: lightblue;
}