* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(lightblue, darkblue);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
    
.column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: inquiz-font;
    src: url(../assets/inquizitive-font.TTF);
}


.inquiz-title-font {
    font-family:'inquiz-font';
    font-size: 300%;
}

.inquiz-text-font {
    font-family: 'Courier New', Courier, monospace;
}

header {
    max-width: 100%;
    min-width: 50%;
    max-height: 40em;
    min-height: 20em;
}

.forms-buttons {
    max-width: 50%;
    min-width: 25%;
    max-height: 80vh;
    min-height: 40vh;
    border: 1px;
    border-style: groove;
    border-radius: 10%;
    background-color: aliceblue;
}