.quiz-title {
    font-size: 400%;
}

header {
    width: 100%;
    height: 20%;
    border-bottom: 1px groove black;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

main {
    width: 100%;
    height: 100%;
}

.buttons {
    width: 14rem;
    height: 3rem;
    border-radius: 10px;
    margin: 15px;
    font-size: xx-large;
}

.take-quiz-button {
    background-color: darkblue;
    color:white;
    font-size: 1.5em;
}

.take-quiz-button:hover {
    background-color: rgb(38, 38, 211);
    color:white;
}

.question-card {
    border: 10px double black;
    border-radius: 20px;
    height: 70%;
    width: 50%;
    background-color: rgb(139, 172, 201);
    margin: 20px;
}

.quiz-text {
    width: 40%;
    height: 80%;
    text-align: center;
}

.question-image {
    width: 30%;
}

.submit-button {
    width: 40%;
    height: 3rem;
    border-radius: 10px;
    margin: 15px;
    font-size: xx-large;
}

footer {
    max-width: 100%;
    min-width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
}